---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=author content="{{ site.name }}">

    {% seo %}
    
    <!-- Primary Meta Tags -->
    <title>David Boo</title>
    <meta name="title" content="David Boo">
    <meta name="description" content="Where biology, informatics & statistics intersect">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://david-boo.github.io/">
    <meta property="og:title" content="David Boo">
    <meta property="og:description" content="Where biology, informatics & statistics intersect">
    <meta property="og:image" content="assets/images/preview.png">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://david-boo.github.io/">
    <meta property="twitter:title" content="David Boo">
    <meta property="twitter:description" content="Where biology, informatics & statistics intersect">
    <meta property="twitter:image" content="assets/images/preview.png">

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>

</head>
<body>

    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
        </div>
    </div>

    {% include icons.html %}

</body>
</html>
